
  <div class="container" ng-if="widgetData.length === 0 && pinnedItems.length === 0">
    <div class="jumbotron text-center">
        <h1>No items to display</h1>
        <h3>Please reload the page.</p>
        <button type="button" class="btn btn-warning" ng-click="reload();"><strong>Reload</strong></button>
    </div>
  </div>
    <widget-rows data="pinnedItems" deletefunc="delete(event,scope,flag)" pinfunc="pin(event,scope,flag)" widget="pinnedItems"></widget-rows>
    <widget-rows data="widgetData" deletefunc="delete(event,scope,flag)" pinfunc="pin(event,scope,flag)" widget="widgetData"></widget-rows>
